@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  color: #505962;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

@media (min-width: 56px) {
  html,
  .off-canvas-wrap,
  .off-canvas-wrap .inner-wrap,
  .row {
    height: 100% !important;
    width: 100% !important;
    overflow-y: auto !important;
  }
}

/* IFRAME RESPONSIVENESS */

.responsiveEmbedd {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.responsiveEmbedd iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0e0d0d;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #d29320;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #71b9d3;
}

/*** iPhone and iOS Form Input Zoom Fixes ***/

/* Fix Input Zoom on devices older than iPhone 5: */

@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */

@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */

@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */

@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/*============= START NAVIGATION ===*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0, 0, 0, 0.72) !important;
}

.navbar-brand img {
  height: 2.5rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin-top: 0.2rem;
  padding: 0.6rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d29320;
}

#postajob:hover {
  color: white;
  background-color: seagreen !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#facebook:hover {
  color: white;
  background-color: #4167b2 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Navigation Menu Justify and Style --- main.js used to give extra class=nyitva */

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-collapse.nyitva,
.navbar-collapse.nyitva li {
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
}

.navbar.nyitva {
  /* background-color: #121212 !important; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(
    -45deg,
    #b4bfc9,
    #8ab0ca,
    rgb(42, 46, 163),
    #936030,
    #7a2727
  );
  background-size: 350% 350%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: height cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: height cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Hamburger Menu Animation */

.icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-dark .navbar-toggler {
  border: none !important;
  background: transparent !important;
  border-color: transparent !important;
}

button.navbar-toggler {
  outline: transparent !important;
}

/* X */

.navbar-toggler.nyitva .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.nyitva .top-bar::before {
  opacity: 0;
}

.navbar-toggler.nyitva .top-bar::after {
  opacity: 0;
}

.navbar-toggler.nyitva .middle-bar {
  opacity: 0;
}

.navbar-toggler.nyitva .middle-bar::before::after {
  opacity: 0;
}

.navbar-toggler.nyitva .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.nyitva .bottom-bar::after {
  opacity: 0;
}

.navbar-toggler.nyitva .bottom-bar::before {
  opacity: 0;
}

/* Burger */

.navbar-toggler .top-bar {
  transform: 0deg;
}

.navbar-toggler .middle-bar {
  opacity: 1;
}

.navbar-toggler .bottom-bar {
  transform: 0deg;
}

.navbar-toggler .top-bar::before,
.navbar-toggler .top-bar::after {
  opacity: 0;
}

.navbar-toggler .middle-bar::before,
.navbar-toggler .middle-bar::after {
  opacity: 0;
}

.navbar-toggler .bottom-bar::before,
.navbar-toggler .bottom-bar::after {
  opacity: 0;
}

/*============= END NAVIGATION ===*/

/*============ START LANDING PAGE CSS: ===*/

/* .home-inner{
  background-image: url(img/slide_04_resized.png);
} */

.caption,
.carousel-caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 25%;
  z-index: 1;
  color: white;
}

.caption h1,
.carousel-caption h1 {
  font-size: 6vw;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.caption h3,
.carousel-caption h3 {
  font-size: 4vw !important;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
  text-transform: none;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-size: 3vw;
  text-transform: uppercase;
}

/* Start Carousel Indicators and Icons .carousel-indicators li  */

/* End Carousel Indicators and Icons */

/*============ END LANDING PAGE CSS: ===*/

/*============ START POSTJOB CSS: ===*/

#postjobcontainer {
  width: 100%;
  max-width: 100%;
  background-color: #25231f;
}

#postjob {
  background-color: #65ad89;
}

#postjobdescription {
  background-color: #b4bfc9;
  align-items: center;
  align-content: center;
}

/*============ END POSTJOB CSS: ===*/

/*============ START FACEBOOK SECTION CSS: ===*/

#facebookcontainer {
  width: 100%;
  max-width: 100%;
  background-color: #25231f;
}

#facebookdescription {
  background-color: #9ac91a;
}

#facebookgroup {
  background-color: #2680d3;
}

/*============ END FACEBOOKSECTION CSS: ===*/

/* START SOCIAL ICONS */
.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 1.3rem auto;
  }
  .social-nav li {
    display: inline-block;
  }
  .social-nav a {
    display: inline-block;
    float: left;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 2.8rem;
    background: #000;
    position: relative;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .model-3d-0 a {
    background: #333;
    float: left;
    margin: 0.3rem ;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .model-3d-0 a:hover {
    -moz-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  .model-3d-0 a:hover .fornt {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .model-3d-0 a:hover .back {
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .model-3d-0 .front,
  .model-3d-0 .back {
    width: 2.5rem;
    height: 2.5rem;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    -moz-transform: translateZ(18px);
    -webkit-transform: translateZ(18px);
    transform: translateZ(18px);
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .model-3d-0 .back {
    font-size: 1.6rem;
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -webkit-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .model-3d-0 .twitter .back {
    background: #00aced;
  }
  .model-3d-0 .facebook .back {
    background: #3b579d;
  }
  .model-3d-0 .google-plus .back {
    background: #dd4a3a;
  }
  .model-3d-0 .linkedin .back {
    background: #007bb6;
  }
  .model-3d-0 .pinterest .back {
    background: #cb2026;
  }
  
  /* END SOCIAL ICONS */


  /* START CONTACT FORM */

#ContainerForm{
  margin: 2.5rem;
  padding:1rem;
}

#contactForm {
    margin: 0 auto;
}

#contactForm input, textarea {
    letter-spacing: 2px;
    font: 200 1em/1.1em 'Helvetica Neue', sans-serif;
    
    color: #000;
    background-color: RGBA(204, 204, 204, .1);
  
    outline: none; border: none;
 
    display:block;
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    max-width: 400px;
}

#contactForm textarea {
height: 150px;
}

#contactForm *:focus {
 background-color: RGBA(254, 191, 4, 1);
}

#contactForm *:hover {
 background-color: RGBA(254, 191, 4, 1);
}

::-webkit-input-placeholder {
    color: #777;
}

:-moz-placeholder { /* Firefox 18- */
    color: #777; 
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #777; 
}

:-ms-input-placeholder {  
     color: #777;
}
  
  /* END CONTACT FORM */

  /* START FOOTER */
#

  /* END FOOTER */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


